<div class="w-full md:w-5/6 mx-auto pt-[74%] md:pt-[259px]">
  <div class="grid grid-cols-1 md:grid-cols-2 pb-[60px] md:mb-[102px]">
    <div class="col-span-1 text-center md:text-left px-3 md:px-0">
      <h1 class="title">{{'welcome_title' | translate}}</h1>
      <p class="description">{{'welcome_desc' | translate}}</p>
      <lib-button [label]="'wecome_cta' | translate" type="rounded"></lib-button>
    </div>
  </div>
</div>
<div class="absolute top-[98px] md:top-[400px] right-[-50px] md:right-0 w-full md:w-3/6">
    <lib-svg-image [urlPath]="'assets/images/welcome.svg'"></lib-svg-image>
</div>

